<div class="form-group number-select">
  <%= select_tag 'to[]', options_from_collection_for_select(Contact.all, :id, :name), { class: "form-control" }  %>
  <%= link_to "Contact Not Here?", new_message_path(new_number: true), locals: {f: f}, remote: true %>
</div>
